<h1>All Employees</h1>
<table>
    <thead>
        <tr>
            <strong><td>Employee Name</td></strong>
        </tr>
    </thead>
    <tbody>
        <% @employees.each do |employee| %>
        <tr>
            <td><%= employee.full_name %></td>
        </tr>
        <tr>
            <td><%= employee.dob %></td>
        </tr>
        <% end %>
    </tbody>
</table>