<h1>All Organizations</h1>
<table>
    <thead>
        <tr>
            <td>Organizations Name</td>
        </tr>
    </thead>
    <tbody>
        <% @organizations.each do |organization| %>
        <tr>
            <td><%= organization.name %></td>
        </tr>
        <% end %>
    </tbody>
</table>